@tailwind base;

@layer base {
  .cl-post-body h1 {
    @apply text-2xl pt-5;
  }
  .cl-post-body h2 {
    @apply text-xl pt-5;
  }
  .cl-post-body h3 {
    @apply text-lg pt-5;
  }
  .cl-post-body ul {
    @apply list-disc ml-5;
  }
  .cl-post-body br {
    @apply m-5;
  }
  .cl-post-body a {
    @apply underline;
  }
}

@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
  color: #FFFCEB;
  background: #09798C;
}

::selection {
  color: #FFFCEB;
  background: #09798C;
}

@tailwind utilities;